# Created by venv; see https://docs.python.org/3/library/venv.html
# Entornos virtuales
venv/
env/
.venv/

# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Variables de entorno y secretos
.env

# Entornos de desarrollo
.vscode/
.idea/